#ifndef PICSOU_H
#define PICSOU_H

#include <QString>
#include "model/converter/semver.h"

static const QString PICSOU_URL="https://github.com/koromodako/picsou";
static const QString PICSOU_VERSION="%{VERSION}%";
static const QString PICSOU_COMMIT="%{COMMIT}%";
static const QString PICSOU_STATUS="%{STATUS}%";
static const QString PICSOU_LICENSE="GPLv3";

static const int PICSOU_DB_MAJOR=1;
static const int PICSOU_DB_MINOR=1;
static const int PICSOU_DB_PATCH=0;
static const SemVer PICSOU_DB_VERSION=SemVer(PICSOU_DB_MAJOR, PICSOU_DB_MINOR, PICSOU_DB_PATCH);

#endif // PICSOU_H
