#ifndef PICSOU_H
#define PICSOU_H

#define PICSOU_URL "https://github.com/koromodako/picsou"
#define PICSOU_VERSION "%{VERSION}%"
#define PICSOU_COMMIT "%{COMMIT}%"
#define PICSOU_STATUS "%{STATUS}%"
#define PICSOU_LICENSE "GPLv3"

#define PICSOU_DB_MAJOR     1
#define PICSOU_DB_MINOR     1
#define PICSOU_DB_PATCH     0
#define PICSOU_DB_VERSION   SemVer(PICSOU_DB_MAJOR, PICSOU_DB_MINOR, PICSOU_DB_PATCH)

#endif // PICSOU_H
