/*
 *  Picsou | Keep track of your expenses !
 *  Copyright (C) 2018  koromodako
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
#ifndef PICSOU_H
#define PICSOU_H

#include <QString>
#include "model/converter/semver.h"

static const QString PICSOU_URL="https://github.com/koromodako/picsou";
static const QString PICSOU_VERSION="%{VERSION}%";
static const QString PICSOU_COMMIT="%{COMMIT}%";
static const QString PICSOU_STATUS="%{STATUS}%";
static const QString PICSOU_LICENSE_URL="https://www.gnu.org/licenses/gpl-3.0.txt";

static const int PICSOU_DB_MAJOR=1;
static const int PICSOU_DB_MINOR=1;
static const int PICSOU_DB_PATCH=0;
static const SemVer PICSOU_DB_VERSION=SemVer(PICSOU_DB_MAJOR, PICSOU_DB_MINOR, PICSOU_DB_PATCH);

#endif // PICSOU_H
